# Dependencies
node_modules/

# Build
.next/
out/

# Environment
.env
.env.local
.env.*.local

# Logs
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Ignore the following directories
/sahab-site
/html-template